{% extends '_layouts/elementindex' %}
{% set title = 'Stream Assets' %}
{% set elementType = 'StudIO\\StreamingMedia\\elements\\StreamAsset' %}

{% block actionButton %}
    <div id="button-container">
        <div class="btngroup submit">
            <a class="btn submit add icon" href="{{ url('streaming-media/new') }}">
                {{ 'New Stream Asset' }}
            </a>
        </div>
    </div>
{% endblock %}